.grid-container {
  display: inline-grid;
  grid-row-gap: 8px;
  grid-column-gap: 5px;
}
.grid-item1 {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 285;
  background-color: #75B2F2;
}
.grid-item2 {
  grid-row-start: 6;
  grid-row-end: 20;
  grid-column-start: 1;
  grid-column-end: 285;
  background-color: #9F78C7;
}
.grid-item3 {
  grid-row-start: 20;
  grid-row-end: 25;
  grid-column-start: 1;
  grid-column-end: 160;
  background-color: #386B4C;
}
.grid-item4 {
  grid-row-start: 20;
  grid-row-end: 25;
  grid-column-start: 160;
  grid-column-end: 285;
  background-color: #3E699F;
}
.grid-item5 {
  grid-row-start: 25;
  grid-row-end: 35;
  grid-column-start: 1;
  grid-column-end: 20;
  background-color: #D89B3A;
}
.grid-item6 {
  grid-row-start: 25;
  grid-row-end: 35;
  grid-column-start: 30;
  grid-column-end: 50;
  background-color: #438134;
}
.grid-item7 {
  grid-row-start: 25;
  grid-row-end: 35;
  grid-column-start: 50;
  grid-column-end: 285;
  background-color: #E93223;
}
.grid-item8 {
  grid-row-start: 35;
  grid-row-end: 70;
  grid-column-start: 1;
  grid-column-end: 48;
  background-color: #FCEB4F;
}
.grid-item9 {
  grid-row-start: 35;
  grid-row-end: 45;
  grid-column-start: 48;
  grid-column-end: 68;
  background-color: #72F360;
}
.grid-item10{
  grid-row-start: 35;
  grid-row-end: 45;
  grid-column-start: 265;
  grid-column-end: 285;
  background-color: #B1FB4F;
}
.grid-item11{
  grid-row-start: 45;
  grid-row-end: 70;
  grid-column-start: 48;
  grid-column-end: 285;
  background-color: #71F2EF;
}
.grid-item12{
  grid-row-start: 70;
  grid-row-end: 85;
  grid-column-start: 1;
  grid-column-end: 285;
  background-color: #5320C8;
}